*{ margin: 0;}



header {
   justify-content: space-between;
    display: flex;
    border: 2px solid rgb(138, 9, 9);
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background:linear-gradient(to right, rgb(16, 243, 164) , rgb(15, 236, 92) )
}
header a {
    text-decoration: none;
    font-size: 2rem;
}
body {
    background-image: url(solar\ system\ \(1\).jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cards {
    
    padding: 20px;
    color: aliceblue;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    margin: 20px;
 
}
.manu {
    display: flex;
    background-color:black;
}


.shama {
    padding: 20px;
    color: aliceblue;
    font-size: 2rem;
    padding: 200px;
    padding-right: 200px;
}